# Cleaning and Wrangling Data

**Learning objective:** Learn how to clean up data before it is used for analysis and visualization.

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from pandas import DataFrame, Series
import seaborn as sns

## Introduction

Data and cleaning and wrangling is a critically important part of data science. Hadley Wickham coined the phrase "tidy data" and has written a paper entitled [Tidy Data](http://vita.had.co.nz/papers/tidy-data.pdf) clarifying its meaning. In general, making your data tidy is the first thing you want to do after acquiring data. 

Tidy Data has the following characteristics: 

* Each column should contain a single variable.
* Each row should contain a single measurement or sample.
* Each table should contain data about a single entity.
* Relationships between entities should be expressed through multiple tables and key columns.
* Each column should have a well defined and clear name.
* The rows should have an appropriate index.
* The `dtype` of each column should be appropriate for that variable.
* Missing values and NaNs should be handled appropriately and consistently.
* Duplicates values or rows should be removed or handled appropriately.
* Categorical values should be normalized so that each logical category is represented by a single well defined value.
* Strings should to wrangled into a consistent format (case, spaces, etc.).

This notebook closely follows Chapter 7 of Wes McKinney's [Python for Data Analysis](http://shop.oreilly.com/product/0636920023784.do).

## Removing duplicates

Entire DataFrames or particular Series may have duplicated rows that need to be removed.

In [ ]:
df = DataFrame(np.random.choice((0,1,2),10), index=list('abcdefghij'))

In [ ]:
df

The `duplicated` method returns a boolean valued Series indicating which values are duplicated:

In [ ]:
df.duplicated()

The `drop_duplicates` drops the duplicate rows:

In [ ]:
df.drop_duplicates()

## Transforming data Using a function or mapping

One of the most powerful and general ways of transforming data is to provide a function or mapping (dict) that transformed existing values to new ones.

Here is an example of a DataFrame with letter grades that are strings:

In [ ]:
df = DataFrame({'grade':np.random.choice(['A','B','C','D','F'],20)})

In [ ]:
df.head()

Here is a simple mapping/dict that will transform the letter grades to GPAs that are strings:

In [ ]:
grade2gpa = {'A':'4.0', 'B':'3.0', 'C':'2.0', 'D':'1.0', 'F':'0.0'}

Passing that mapping/dict to the `.map()` method will make the substitutions:

In [ ]:
df['grade'].map(grade2gpa).head()

The values are still strings, but we can use the `float` function to convert them to actual numbers:

In [ ]:
float('3.0')

In [ ]:
df['gpa'] = df['grade'].map(grade2gpa).map(float)

In [ ]:
df.head()

In [ ]:
sns.countplot(x=df.grade);

In [ ]:
counts = df.grade.value_counts().sort_index()

In [ ]:
counts

## Replacing values

Often times categorical variables will have different representations of a single category. Replacement is needed to convert all representations to the same value.

Here is a Series having different representations for "male" and "female":

In [ ]:
s = Series(np.random.choice(['man','woman','F','M','Male','Female'],20))
s

In [ ]:
s = s.str.lower()

This version of `replace` replaces all occurences of `f` by `female`:

In [ ]:
s.replace('f','female')

There are two other way of providing the arguments to `replace`:

In [ ]:
s = s.replace(['f','woman'],'female')  # f->female and woman->female
s = s.replace({'man':'male', 'm':'male'})  # man->male and m->male

In [ ]:
s.unique()

## Renaming indices

To rename to column labels or index:

* Set the `.index` or `.columns` attributes.
* Use `DataFrame.rename()` to transform the column or index names. Use `inplace=True` to avoid copying.
* Use `DataFrame.index.map()` or `DataFrame.columns.map()` to transform the column or index names.

## Discretization and binning

Sometimes data has been gathered in the form of numerical or interval data, but it is desires to bin or discretize the data into ranges.

Here is some age data:

In [ ]:
df = DataFrame({'age':np.random.randint(0,65,40)})

In [ ]:
df.head()

We define a list of integers that will be used for the discretization boundaries:

In [ ]:
bins = [0,20,40,60,65]

The `cut` function takes the `Series` to discretize and the bin to use and returns a `Series` with the `dtype` of `category`:

In [ ]:
df.labels = pd.cut(df.age, bins)

In [ ]:
df.labels.head()

In [ ]:
df.labels.value_counts()

In [ ]:
sns.countplot(df.labels)

See the `qcut` function for binning into quantiles.

## Permutation and random sampling

Sometimes you want to permute the rows of your data or perform random sampling to extract a random subset of rows. This can be done by using `np.random.permutation`, which is essentially a scrambled version of Python's `range` function:

In [ ]:
np.random.permutation(10)

In [ ]:
df = DataFrame({'income':np.random.randint(50,150,10),
                'company':list('abcdefghij')}, columns=['company','income'])

In [ ]:
df

If we want to permute the entire DataFrame, pass a permutation array of the same length as the DataFrame:

In [ ]:
df.take(np.random.permutation(10))

To randomly sample a subset of the rows, pass a slice of the permutation array:

In [ ]:
df.take(np.random.permutation(10)[:5])

What is wrong with trying to do random sampling using `df.take(np.random.permutation(5))`?

## Computing indicator/dummy variables

The `get_dummies` function transforms 1 column of categorical data with `N` unique values into `N` boolean valued columns. This is useful for statistical modeling and machine learning applications.

Here is a simple DataFrame with one categorical column with 3 unique values:

In [ ]:
df = DataFrame({'mobile':np.random.choice(['ios','android','windows'],20)})

In [ ]:
df

In this case `get_dummies` converts that column into 3 separate boolean columns, one for each mobile OS:

In [ ]:
pd.get_dummies(df.mobile)

## String object methods

Python strings have a number of methods that are useful for performing transformations.

In [ ]:
emails = 'BartSimpson@gmail.com, LisaSimpson@stanford.edu, MILHOUSE@yahoo.com'

Split the string into a list of strings given a separator:

In [ ]:
parts = emails.split(',')

Let's remove or `strip` the leading and trailing whitespace off each component:

In [ ]:
addresses = [s.strip() for s in parts]

We can further split the email address using `@` as the separator:

In [ ]:
bart, gmail = addresses[0].split('@')
bart, gmail

Convert to lowercase:

In [ ]:
bart.lower()

Or uppercase:

In [ ]:
bart.upper()

Count the number of times a character appears:

In [ ]:
bart.count('s')

Or find the location in the string that a character or substring appears:

In [ ]:
gmail.index('.')

You can also see if a string starts or ends with a particular substring:

In [ ]:
gmail.startswith('yahoo')

In [ ]:
gmail.endswith('.com')

The `replace` method works as expected:

In [ ]:
yahoo = gmail.replace('gmail','yahoo')

In [ ]:
yahoo

## Vectorized string methods

Often you want to perform this type of string transformation on each element of `Series`. You can always use the `.map()` method of the `Series` to do this, but there is a `.str` attribute on the `Series` object that automatically provides vectorized versions of the string transformation methods.

Let's turn our email list above into a simple `DataFrame`:

In [ ]:
data = DataFrame({'email':emails.split(',')})

In [ ]:
data

We can transformt the entire `email` `Series` using the syntax `data.email.str.<method>`. For example, this makes each element lowercase and removes leading and trailing whitespace:

In [ ]:
data.email = data.email.str.lower().str.strip()

In [ ]:
data

Now let's split on the `@` character to extract the username and domain into their own columns:

In [ ]:
data['username'] = data.email.str.split('@').map(lambda x: x[0])

In [ ]:
data['domain'] = data.email.str.split('@').map(lambda x: x[1])

In [ ]:
data