# Exploring the Chinook database with SQL

In this notebook, you will practice using SQL queries with Pandas to explore the [Chinook database](https://chinookdatabase.codeplex.com/) of music.

## Imports

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
from pandas.io import sql

In [2]:
from sqlalchemy import create_engine, inspect

Here is a function for howing table information:

In [ ]:
def table_info(table_name, i):
    """Shwo the column names and types as a Pandas DataFrame."""
    return pd.DataFrame(i.get_columns(table_name))[['name','type']]

In [ ]:
import os
assert os.path.isfile(os.path.join('data', 'Chinook_Sqlite.sqlite'))

## Exploring the database

Create an SqlAlchemy engine for the Chinook database, which is in the file `data/Chinook_Sqlite.sqlite` as save the engine in a variable named `ce`:

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
import sqlalchemy
assert isinstance(ce, sqlalchemy.engine.base.Engine)

Create an inspector for that engine and save it in a variable named `inspector`:

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
assert isinstance(inspector, sqlalchemy.engine.reflection.Inspector)

Use the `inspector` and `table_info` to show the column information of the `Genre` table:

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Use a SQL `SELECT` statement with `LIMIT` to look at the first 10 rows of the `Genre` table:

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Use the `inspector` and `table_info` to show the column information of the `Track` table:

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Use a SQL `SELECT` statement with `LIMIT` to look at the first 10 rows of the `Track` table:

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Use the `inspector` and `table_info` to show the column information of the `MediaType` table:

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Use a SQL `SELECT` statement with `LIMIT` to look at the first 10 rows of the `MediaType` table:

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Write an SQL query to select the `Name`, `Composer` and `UnitPrice` columns from the `Track` table for the rows where the `UnitPrice` is greater than `0.99`:

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Join the `Track` and `Genre` tables on the `GenreId` columns and compute the average track length in seconds grouped by `Genre.Name`. Sort the results by the track length (`Track.Milliseconds`). Save the result in a variable named `r1`.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
r1

Create a Seaborn barplot showing the average track duration for each genre:

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Join the `MediaType` and `Track` tables and count how many tracks are released with a given media format. Order by the count of the media type. Save the result in a variable named `r2`.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
r2

Make a bar plot of the media type counts:

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()