# Classification With the Titanic Dataset

In this notebook you will practice a supervised learning problem with the titanic dataset. You will try to predict whether or not a particular passenger lived or died based on other data about that passenger such as age, sex, fare, etc. If you want to continue to explore this dataset, see the Titanic competition on Kaggle:

https://www.kaggle.com/c/titanic

## Imports

In [1]:
import numpy as np
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

## Load and prepare the data

In [2]:
raw_data = sns.load_dataset('titanic')

In [3]:
raw_data.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

Prepare your data for machine learning:

* Drop rows with missing values or NaNs.
* Create a `DataFrame` for your features named `X` with a subset of numerical and
  boolean columns that you think will be useful in predicting who lived.
* Create a `Series` for your target variable named `y` from the `survived` column.

In [5]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 0 to 890
Data columns (total 15 columns):
survived       891 non-null int64
pclass         891 non-null int64
sex            891 non-null object
age            714 non-null float64
sibsp          891 non-null int64
parch          891 non-null int64
fare           891 non-null float64
embarked       889 non-null object
class          891 non-null category
who            891 non-null object
adult_male     891 non-null bool
deck           203 non-null category
embark_town    889 non-null object
alive          891 non-null object
alone          891 non-null bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 87.1+ KB

In [6]:
# replacing missing values
raw_data.age.fillna()

Signature: raw_data.age.fillna(value=None, method=None, axis=None, inplace=False, limit=None, downcast=None, **kwargs)
Docstring:
Fill NA/NaN values using the specified method

Parameters
----------
value : scalar, dict, Series, or DataFrame
    Value to use to fill holes (e.g. 0), alternately a dict/Series/DataFrame of
    values specifying which value to use for each index (for a Series) or
    column (for a DataFrame). (values not in the dict/Series/DataFrame will not be
    filled). This value cannot be a list.
method : {'backfill', 'bfill', 'pad', 'ffill', None}, default None
    Method to use for filling holes in reindexed Series
    pad / ffill: propagate last valid observation forward to next valid
    backfill / bfill: use NEXT valid observation to fill gap
axis : {0, 'index'}
inplace : boolean, default False
    If True, fill in place. Note: this will modify any
    other views on this object, (e.g. a no-copy slice for a column in a
    DataFrame).
limit : int, default None
    If method is specified, this is the maximum number of consecutive
    NaN values to forward/backward fill. In other words, if there is
    a gap with more than this number of consecutive NaNs, it will only
    be partially filled. If method is not specified, this is the
    maximum number of entries along the entire axis where NaNs will be
    filled.
downcast : dict, default is None
    a dict of item->dtype of what to downcast if possible,
    or the string 'infer' which will try to downcast to an appropriate
    equal type (e.g. float64 to int64 if possible)

See also
--------
reindex, asfreq

Returns
-------
filled : Series
File:      /usr/local/lib/python3.4/dist-packages/pandas/core/series.py
Type:      method

Add additional columns to your feature `DataFrame` for any categorical columns you think will be relevant. For each such column:

* Use `pandas.get_dummies` to one-hot encode the categorical values.
* Use `pandas.concat` with `axis=1` to add those columns to the feature `DataFrame`

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

In [ ]:
X.head()

## Train/test split

Use `sklearn.cross_validation.train_test_split` to split your data into a training and test set. Save the resulting data in the variables:

* `Xtrain`
* `Xtest`
* `ytrain`
* `ytest`

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Here are the shapes of the resulting arrays

In [ ]:
Xtrain.shape, ytrain.shape

In [ ]:
Xtest.shape, ytest.shape

## Gaussian Naive-Bayes classifier

Perform the following steps with the `sklearn.naive_bayes.GaussianNB` classifier:

1. Instantiate the model class
2. Fit the model with the training data
3. Use the model to make predictions about the test data

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Compute the accuracy of the model:

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Use `sklearn.metrics.confusion_matrix` and Seaborn's `heatmap` to display the confusion matrix for this model:

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

## Random forest classifier

Perform the following steps with the `sklearn.ensemble.RandomForestClassifier` classifier:

1. Instantiate the model class
2. Fit the model with the training data
3. Use the model to make predictions about the test data

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Compute the accuracy of the model:

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Use `sklearn.metrics.confusion_matrix` and Seaborn's `heatmap` to display the confusion matrix for this model:

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

Use the `feature_importances_` attribute of the model to create a `DataFrame` that has two columns:

1. `feature`: the names of the features
2. `importance`: the importances of that feature

Sort by the feature importances.

In [ ]:
# YOUR CODE HERE
raise NotImplementedError()

For extra credit, look through the feature importances and build a new set of features that only includes the most important ones. Build a random-forest model with those restricted features and compare its accuracy with that of the full set of features.