# Working With CSV Files

**Learning Objectives:** Learn how to import and export data as CSV files using Pandas.

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

## About CSV

A CSV file is a simple textual format:

* One row per line
* Column values separated a comma, space, etc.
* CSV = "comma separated value"

CSV files are one of the most universal and common formats for distributing table based data across programming languages.

## A CSV file with no header

Here is a simple CSV file that doesn't have a header that declares the column names:

In [2]:
%%writefile data1.csv
one,76,3.4
two,74,5.6
three,73,2.9

Overwriting data1.csv

We can look at its contents by using the `%pycat` magic:

In [3]:
%pycat data1.csv

one,76,3.4
two,74,5.6
three,73,2.9

CSV files can be read into Pandas `DataFrame` objects using the `read_csv` function. Here is the documentation for `read_csv`:

In [4]:
pd.read_csv?

Signature: pd.read_csv(filepath_or_buffer, sep=',', dialect=None, compression='infer', doublequote=True, escapechar=None, quotechar='"', quoting=0, skipinitialspace=False, lineterminator=None, header='infer', index_col=None, names=None, prefix=None, skiprows=None, skipfooter=None, skip_footer=0, na_values=None, true_values=None, false_values=None, delimiter=None, converters=None, dtype=None, usecols=None, engine=None, delim_whitespace=False, as_recarray=False, na_filter=True, compact_ints=False, use_unsigned=False, low_memory=True, buffer_lines=None, warn_bad_lines=True, error_bad_lines=True, keep_default_na=True, thousands=None, comment=None, decimal=b'.', parse_dates=False, keep_date_col=False, dayfirst=False, date_parser=None, memory_map=False, float_precision=None, nrows=None, iterator=False, chunksize=None, verbose=False, encoding=None, squeeze=False, mangle_dupe_cols=True, tupleize_cols=False, infer_datetime_format=False, skip_blank_lines=True)
Docstring:
Read CSV (comma-separated) file into DataFrame

Also supports optionally iterating or breaking of the file
into chunks.

Additional help can be found in the `online docs for IO Tools
<http://pandas.pydata.org/pandas-docs/stable/io.html>`_.

Parameters
----------
filepath_or_buffer : string or file handle / StringIO
    The string could be a URL. Valid URL schemes include
    http, ftp, s3, and file. For file URLs, a
    host is expected. For instance, a local file could be
    file ://localhost/path/to/table.csv
sep : string, default ','
    Delimiter to use. If sep is None, will try to automatically determine
    this. Regular expressions are accepted.
engine : {'c', 'python'}
    Parser engine to use. The C engine is faster while the python engine is
    currently more feature-complete.
lineterminator : string (length 1), default None
    Character to break file into lines. Only valid with C parser
quotechar : string (length 1)
    The character used to denote the start and end of a quoted item. Quoted
    items can include the delimiter and it will be ignored.
quoting : int or csv.QUOTE_* instance, default None
    Control field quoting behavior per ``csv.QUOTE_*`` constants. Use one of
    QUOTE_MINIMAL (0), QUOTE_ALL (1), QUOTE_NONNUMERIC (2) or QUOTE_NONE (3).
    Default (None) results in QUOTE_MINIMAL behavior.
skipinitialspace : boolean, default False
    Skip spaces after delimiter
escapechar : string (length 1), default None
    One-character string used to escape delimiter when quoting is QUOTE_NONE.
dtype : Type name or dict of column -> type, default None
    Data type for data or columns. E.g. {'a': np.float64, 'b': np.int32}
    (Unsupported with engine='python')
compression : {'gzip', 'bz2', 'infer', None}, default 'infer'
    For on-the-fly decompression of on-disk data. If 'infer', then use gzip or
    bz2 if filepath_or_buffer is a string ending in '.gz' or '.bz2',
    respectively, and no decompression otherwise. Set to None for no
    decompression.
dialect : string or csv.Dialect instance, default None
    If None defaults to Excel dialect. Ignored if sep longer than 1 char
    See csv.Dialect documentation for more details
header : int, list of ints, default 'infer'
    Row number(s) to use as the column names, and the start of the
    data.  Defaults to 0 if no ``names`` passed, otherwise ``None``. Explicitly
    pass ``header=0`` to be able to replace existing names. The header can be
    a list of integers that specify row locations for a multi-index on the
    columns E.g. [0,1,3]. Intervening rows that are not specified will be
    skipped (e.g. 2 in this example are skipped). Note that this parameter
    ignores commented lines and empty lines if ``skip_blank_lines=True``, so header=0
    denotes the first line of data rather than the first line of the file.
skiprows : list-like or integer, default None
    Line numbers to skip (0-indexed) or number of lines to skip (int)
    at the start of the file
index_col : int or sequence or False, default None
    Column to use as the row labels of the DataFrame. If a sequence is given, a
    MultiIndex is used. If you have a malformed file with delimiters at the end
    of each line, you might consider index_col=False to force pandas to _not_
    use the first column as the index (row names)
names : array-like, default None
    List of column names to use. If file contains no header row, then you
    should explicitly pass header=None
prefix : string, default None
    Prefix to add to column numbers when no header, e.g 'X' for X0, X1, ...
na_values : str, list-like or dict, default None
    Additional strings to recognize as NA/NaN. If dict passed, specific
    per-column NA values
true_values : list, default None
    Values to consider as True
false_values : list, default None
    Values to consider as False
keep_default_na : bool, default True
    If na_values are specified and keep_default_na is False the default NaN
    values are overridden, otherwise they're appended to
parse_dates : boolean, list of ints or names, list of lists, or dict, default False
    If True -> try parsing the index.
    If [1, 2, 3] -> try parsing columns 1, 2, 3 each as a separate date column.
    If [[1, 3]] -> combine columns 1 and 3 and parse as a single date column.
    {'foo' : [1, 3]} -> parse columns 1, 3 as date and call result 'foo'
    A fast-path exists for iso8601-formatted dates.
keep_date_col : boolean, default False
    If True and parse_dates specifies combining multiple columns then
    keep the original columns.
date_parser : function, default None
    Function to use for converting a sequence of string columns to an
    array of datetime instances. The default uses dateutil.parser.parser
    to do the conversion. Pandas will try to call date_parser in three different
    ways, advancing to the next if an exception occurs: 1) Pass one or more arrays
    (as defined by parse_dates) as arguments; 2) concatenate (row-wise) the string
    values from the columns defined by parse_dates into a single array and pass
    that; and 3) call date_parser once for each row using one or more strings
    (corresponding to the columns defined by parse_dates) as arguments.
dayfirst : boolean, default False
    DD/MM format dates, international and European format
thousands : str, default None
    Thousands separator
comment : str, default None
    Indicates remainder of line should not be parsed. If found at the
    beginning of a line, the line will be ignored altogether. This parameter
    must be a single character. Like empty lines (as long as ``skip_blank_lines=True``),
    fully commented lines are ignored by the parameter `header`
    but not by `skiprows`. For example, if comment='#', parsing
    '#empty\na,b,c\n1,2,3' with `header=0` will result in 'a,b,c' being
    treated as the header.
decimal : str, default '.'
    Character to recognize as decimal point. E.g. use ',' for European data
nrows : int, default None
    Number of rows of file to read. Useful for reading pieces of large files
iterator : boolean, default False
    Return TextFileReader object for iteration or getting chunks with ``get_chunk()``.
chunksize : int, default None
    Return TextFileReader object for iteration. `See IO Tools docs for more
    information
    <http://pandas.pydata.org/pandas-docs/stable/io.html#io-chunking>`_ on
    ``iterator`` and ``chunksize``.
skipfooter : int, default 0
    Number of lines at bottom of file to skip (Unsupported with engine='c')
converters : dict, default None
    Dict of functions for converting values in certain columns. Keys can either
    be integers or column labels
verbose : boolean, default False
    Indicate number of NA values placed in non-numeric columns
delimiter : string, default None
    Alternative argument name for sep. Regular expressions are accepted.
encoding : string, default None
    Encoding to use for UTF when reading/writing (ex. 'utf-8'). `List of Python
    standard encodings
    <https://docs.python.org/3/library/codecs.html#standard-encodings>`_
squeeze : boolean, default False
    If the parsed data only contains one column then return a Series
na_filter : boolean, default True
    Detect missing value markers (empty strings and the value of na_values). In
    data without any NAs, passing na_filter=False can improve the performance
    of reading a large file
usecols : array-like, default None
    Return a subset of the columns.
    Results in much faster parsing time and lower memory usage.
mangle_dupe_cols : boolean, default True
    Duplicate columns will be specified as 'X.0'...'X.N', rather than 'X'...'X'
tupleize_cols : boolean, default False
    Leave a list of tuples on columns as is (default is to convert to
    a Multi Index on the columns)
error_bad_lines : boolean, default True
    Lines with too many fields (e.g. a csv line with too many commas) will by
    default cause an exception to be raised, and no DataFrame will be returned.
    If False, then these "bad lines" will dropped from the DataFrame that is
    returned. (Only valid with C parser)
warn_bad_lines : boolean, default True
    If error_bad_lines is False, and warn_bad_lines is True, a warning for each
    "bad line" will be output. (Only valid with C parser).
infer_datetime_format : boolean, default False
    If True and parse_dates is enabled for a column, attempt to infer
    the datetime format to speed up the processing
skip_blank_lines : boolean, default True
    If True, skip over blank lines rather than interpreting as NaN values

Returns
-------
result : DataFrame or TextParser
File:      /usr/local/lib/python3.4/dist-packages/pandas/io/parsers.py
Type:      function

Usually the first step is to try reading the file with no extra arguments:

In [5]:
pd.read_csv('data1.csv')

     one  76  3.4
0    two  74  5.6
1  three  73  2.9

In this case, we don't want the first row to be treated as the column index, so we pass `header=None`:

In [6]:
df = pd.read_csv('data1.csv', header=None)
df

       0   1    2
0    one  76  3.4
1    two  74  5.6
2  three  73  2.9

To pass our own names for the column names, pass the `name` argument. If the number of names matches the number of columns, an integer index will be created:

In [7]:
pd.read_csv('data1.csv', header=None, names=['item','temp','rainfall'])

    item  temp  rainfall
0    one    76       3.4
1    two    74       5.6
2  three    73       2.9

Or if we pass fewer names than columns, the first column will be used as the row index:

In [8]:
pd.read_csv('data1.csv', header=None, names=['temp','rainfall'])

       temp  rainfall
one      76       3.4
two      74       5.6
three    73       2.9

We can also use the `index_col` argument to specify which column to use as the index:

In [9]:
pd.read_csv('data1.csv', header=None, names=['item','temp','rainfall'], index_col=1)

       item  rainfall
temp
76      one       3.4
74      two       5.6
73    three       2.9

## A CSV file with a header

Here is a CSV file that has a heade giving default column names:

In [10]:
%%writefile data2.csv
Person,Age,Income,Zip
one,20,55000,95050
two,24,65000,95054
three,26,75000,95014

Writing data2.csv

In this case, `read_csv` will use those as the column names:

In [11]:
pd.read_csv('data2.csv')

  Person  Age  Income    Zip
0    one   20   55000  95050
1    two   24   65000  95054
2  three   26   75000  95014

To override the column names, you can provide a `names` argument and `header=0`. If there are one fewer names that columns the first column will be used as the index. Or you can use `index_col` to specify which column is used as an index.

In [12]:
pd.read_csv('data2.csv', names=['age','income','zip'], header=0)

       age  income    zip
one     20   55000  95050
two     24   65000  95054
three   26   75000  95014

## Handling missing data

Here is an example of a CSV files with missing and non-tidy data:

In [13]:
%%writefile data3.csv
age,income,zip
32,NA,95050
-1,4500,
,50000,95054
24,NULL,0

Writing data3.csv

By default `read_csv` automatically converts missing values and certain (`NA`, `NULL`, `-1`) values to NaNs:

In [14]:
pd.read_csv('data3.csv')

   age  income    zip
0   32     NaN  95050
1   -1    4500    NaN
2  NaN   50000  95054
3   24     NaN      0

The `na_values` argument can be used to specify additional values for all columns that will be treated as NaNs:

In [15]:
pd.read_csv('data3.csv', na_values=[0])

   age  income    zip
0   32     NaN  95050
1   -1    4500    NaN
2  NaN   50000  95054
3   24     NaN    NaN

Or you can pass `na_values` a ditionary providing NaN sentinals for each column:

In [16]:
pd.read_csv('data3.csv', na_values={'zip':[0,'NULL'], 'age': [-1]})

   age  income    zip
0   32     NaN  95050
1  NaN    4500    NaN
2  NaN   50000  95054
3   24     NaN    NaN

## Resources

* Pandas [CSV Documentation](http://pandas.pydata.org/pandas-docs/stable/io.html#csv-text-files).